<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace的名字需要跟接口的类名一致 -->
<mapper namespace="com.ssm.dao.MemberMapper">
	
	<select id="load" resultType="java.lang.Integer">
		select count(*) from member where loginName=#{loginName} and pwd=#{pwd}
	</select>
	
	<select id="getMemberList" resultType="com.ssm.model.Member">
		select * from member
	</select>
	
	<select id="getMember" resultType="com.ssm.model.Member">
		select * from member where id=#{id}
	</select>
	<insert id="addMember" parameterType="com.ssm.model.Member" >
    	insert into member(id,loginName,pwd,nickName,age) values(#{id},#{loginName},#{pwd},#{nickName},#{age})
	</insert>
</mapper>